body
{
    color: hwb(0 100% 0%);
    background-image:url('Avant.jpg');
    background-attachment: fixed ;
    size:90px ;
    
}
p
{
    color:rgb(245, 241, 248);
    font-size:20px;
    
}
h1,h2
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}
li
{
    font-weight:bold; /*Texte en gras*/
    
}
#section1
{
    background-color: #359b57;
    width : 110% ;
    height: 3.5% ;
    
}
<section id="section1"></section>