body /*Paramètres principale*/
{
    background-color: lightblue; /*Fond de la page web*/
    color: black; /*Couleur principale*/
    font-size: 20px; /*Taille principale*/
    text-align: justify; /*Allignement*/
    font-family: Arial, Helvetica, sans-serif; /*Police d'écriture*/
    margin: 0%; /*Marge*/
}
#logo1{
  padding: 0;
  margin: 0;
  border: 0;
  height: 50px;
}

nav {

  background-color: #006078;
  overflow: hidden;
  height: 50px;
}

nav ul {
  margin: 0%;
  list-style-type: none;
  padding: 0;
}

nav li {
  
  float: left;
}

nav li a {
  
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  border: 20px 20%;
  text-decoration: none;
}

nav li a:hover {
  color: grey;
  transition: 500ms;
}
p2 /*Paramètres paragraphe p2*/
{
    color: rgb(15, 55, 185); /*Couleur*/
}

h1 /*Paramètres titre h1*/
{
    text-align: center;
    color: green;
    text-decoration: underline; /*Soulignement*/
}

h2 /*Paramètres titre h2*/
{
    text-align: center;
}

li /*Mise en forme texte à puce numérotée*/
{
    font-weight: bold; /*Texte en gras*/
    text-align: left;
}

img /*Paramètres image*/
{
    width: auto;
    height: auto;
    max-width: 350px;
    max-height: 350px;
}

head{
  background-color: #000000;
  color: #000;
}

#logo{
  height: 48px;
  float: right;
}

nav {

  background-color: #006078;
  overflow: hidden;
}

nav ul {
  margin: 0%;
  list-style-type: none;
  padding: 0;
}

nav li {
  
  float: left;
}

nav li a {
  
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  border: 20px 20%;
  text-decoration: none;
}

nav li a:hover {
  color: grey;
  transition: 500ms;
}
  /* Add a black background color to the top navigation */
.topnav {
  background-color: #000000;
  overflow: hidden;
  height: 5%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 0px 0px;
  text-decoration: none;
  font-size: var(largeurfenetre20)
}

/* Change the color of links on hover */
.topnav a:hover {
  transition-property:all;
  transition-duration: 0.5s;
  background-color: #3c3030;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.card {

    margin: 5%;
    width: auto;
    height: 155px;
    padding: 0.5rem;
    background: rgba(198, 198, 198, 0.34);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    border-bottom: 3px solid rgba(255, 255, 255, 0.440);
    border-left: 2px  rgba(255, 255, 255, 0.545) outset;
    box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
    transform: skewX(10deg);
    transition: .4s;
    overflow: hidden;
    color: white;
  }
  
  .card:hover {
    height: 500px;
    transform: skew(0deg);
    text-justify:auto;
  padding-left: 1cm ;
  }
  
  .align {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-self: flex-start;
  }
  
  .red {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff605c;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
  }
  
  .yellow {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffbd44;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
  }
  
  .green {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00ca4e;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
  }
  
  .card h1 {
    text-align: center;
    margin: 1.3rem;
    color: rgb(218, 244, 237);
    text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
  }

  .toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .toggle-slot {
    font-size: 10px;
    position: relative;
    height: 3.5em;
    width: 7em;
    border: 0px solid transparent;
    border-radius: 10em;
    background-color: white;
    transition: background-color 250ms;
  }
  
  .toggle-checkbox:checked ~ .toggle-slot {
    background-color: #374151;
  }
  
  .toggle-button {
    transform: translate(0.3em, 0.25em);
    position: absolute;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: #ffeccf;
    box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
    transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .toggle-button {
    background-color: #485367;
    box-shadow: inset 0px 0px 0px 0.75em white;
    transform: translate(3.65em, 0.25em);
  }
  
  .sun-icon {
    position: absolute;
    height: 6em;
    width: 6em;
    color: #ffbb52;
  }
  
  .sun-icon-wrapper {
    position: absolute;
    height: 6em;
    width: 6em;
    opacity: 1;
    transform: translate(2em, 2em) rotate(15deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(3em, 2em) rotate(0deg);
  }
  
  .moon-icon {
    position: absolute;
    height: 6em;
    width: 6em;
    color: white;
  }
  
  .moon-icon-wrapper {
    position: absolute;
    height: 6em;
    width: 6em;
    opacity: 0;
    transform: translate(11em, 2em) rotate(0deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
    opacity: 1;
    transform: translate(2em, 2em) rotate(-15deg);
  }

  button2{ /*Paramètres bouton*/
    display:inline-block, none;
    background-color: #37b2d1;
    border-radius: 5px;
    border: 2px double #006078;
    color: #0051ff;
    text-align: center;
    font-size: 10px;
    padding: 8px;
    width: 110px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
button2:hover{ /*Paramètres bouton au survol de la souris*/
    background-color: #006078;
    border: 2px solid #37b2d1;
    box-shadow: 10px 5px 5px #83d0e4;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
}

button3{
  display:inline-block, none;
  background-color: #ff8095;
  border-radius: 5px;
  border: 2px double #f53f3f;
  color: #000000;
  text-align: center;
  font-size: 10px;
  padding: 8px;
  width: 110px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
button3:hover{
  background-color: #f53f3f;
  border: 2px solid #ff8095;
  box-shadow: 10px 5px 5px #ffc6fc;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
}

header{ /*Paramètres en-tête*/
  background-color: #bfffbd;
  display: block ;
	justify-content: space-between ;
  border : 2px green solid ;
  border-radius: 5px ;
  box-shadow: 8px 8px #7a9480 ;
  margin : 20px ;
}

#introduction{
  background-color: #bfffbd;
  display: block ;
	justify-content: space-between ;
  border : 2px green solid ;
  border-radius: 5px ;
  box-shadow: 8px 8px #7a9480 ;
  margin : 20px ;
}

#Carte{
  background-color: #bfffbd;
  display: block ;
	justify-content: space-between ;
  border : 2px green solid ;
  border-radius: 5px ;
  box-shadow: 8px 8px #7a9480 ;
  margin : 20px ;
}

.cartePoint{
  position: relative;
  width: 300px;
  height: 300px;
}

#imageGpCoeffin{
  position: absolute;
  top: 0;
  left: 40;
  width: 100%;
  height: 100%;
}

#vousÊtesIci{
  position: absolute;
  top: 28px;
  left: 100px;
  width: 35%;
  height: 35%;
  opacity: 1; /* Opacité initiale à 100% (complètement opaque) */
  transition: opacity 0.5s ease-in-out; /* Ajout d'une transition pour une animation en douceur */
}

#Lieux{
  background-color: #bfffbd;
  display: block ;
	justify-content: space-between ;
  border : 2px green solid ;
  border-radius: 5px ;
  box-shadow: 8px 8px #7a9480 ;
  margin : 20px ;
}

.coeffinHautPoint{
  position: relative;
  width: 300px;
  height: 300px;
}

#imageHautCoeffin{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#PointGéo1{
  position: absolute;
  top: 150px;
  left: 60px;
  width: 20%;
  height: 25%;
  opacity: 1; /* Opacité initiale à 100% (complètement opaque) */
  transition: opacity 0.5s ease-in-out; /* Ajout d'une transition pour une animation en douceur */
}

#PointGéo2{
  position: absolute;
  top: 20px;
  left: 45px;
  width: 20%;
  height: 25%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#PointGéo3{
  position: absolute;
  top: 88px;
  left: 100px;
  width: 20%;
  height: 25%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#PointGéo4{
  position: absolute;
  top: 50px;
  left: 85px;
  width: 20%;
  height: 25%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#PointGéo5{
  position: absolute;
  top: 30px;
  left: 70px;
  width: 20%;
  height: 25%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#PointGéo6{
  position: absolute;
  top: 40px;
  left: 80px;
  width: 20%;
  height: 25%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#PointGéo7_1{
  position: absolute;
  top: 45px;
  left: 58px;
  width: 20%;
  height: 25%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#PointGéo7_2{
  position: absolute;
  top: 16px;
  left: 88px;
  width: 20%;
  height: 25%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#PointGéo8{
  position: absolute;
  top: 95px;
  left: 90px;
  width: 20%;
  height: 25%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#PointGéo9{
  position: absolute;
  top: 105px;
  left: 76px;
  width: 20%;
  height: 25%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#PointGéo10{
  position: absolute;
  top: 130px;
  left: 120px;
  width: 20%;
  height: 25%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#PointGéo11{
  position: absolute;
  top: 114px;
  left: 127px;
  width: 20%;
  height: 25%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#PointGéo12{
  position: absolute;
  top: 90px;
  left: 130px;
  width: 20%;
  height: 25%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#PointGéo13{
  position: absolute;
  top: 166px;
  left: 170px;
  width: 20%;
  height: 25%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#PointGéo14{
  position: absolute;
  top: 127px;
  left: 210px;
  width: 20%;
  height: 25%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#PointGéo15{
  position: absolute;
  top: 90px;
  left: 178px;
  width: 20%;
  height: 25%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#PointGéo16{
  position: absolute;
  top: 60px;
  left: 205px;
  width: 20%;
  height: 25%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#PointGéo17{
  position: absolute;
  top: 30px;
  left: 240px;
  width: 20%;
  height: 25%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#PointGéo18{
  position: absolute;
  top: -5px;
  left: 165px;
  width: 20%;
  height: 25%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#PointGéo19{
  position: absolute;
  top: -30px;
  left: 245px;
  width: 20%;
  height: 25%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
#PointGéo20{
  position: absolute;
  top: -47px;
  left: 227px;
  width: 20%;
  height: 25%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
#PointGéo21{
  position: absolute;
  top: 3px;
  left: 40px;
  width: 20%;
  height: 25%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#PointGéo22{
  position: absolute;
  top: 14px;
  left: 8px;
  width: 20%;
  height: 25%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#Quizz{
  background-color: #bfffbd;
  display: block ;
	justify-content: space-between ;
  border : 2px green solid ;
  border-radius: 5px ;
  box-shadow: 8px 8px #7a9480 ;
  margin : 20px ;
}

#coeffinHautPoint {
  position: relative;
  display: inline-block;
}

#coeffinHautPoint img {
  max-width: 100%;
  max-height: 100%;
  width: 500px;
  height: 500px;
}

#clickPosition { /*Paramètres position du clique*/
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}