body
{
    color: black;
    background-color: lightblue;
}
p
{
    color: black;
    font-size: x-large;
}
a{
    color: rgb(22, 22, 22);
    font-size: 30px;
    font-family: "Rubik",sans-serif;
    position:static;
    right:10px ;
    top:10px;
    padding:1px 10px 1px 10px;
    border:3px solid darkblue;
    text-decoration:underline;
}
