body{
	background-image: url("fondpage.jpg" );
	background-attachment: fixed;
}

p
{
	color:rgb(231, 233, 238);
	font-size:20px;	
}
h1
{
	text-align:center;
	font-size:40px;
}
h2
{
	color:rgb(179, 165, 165);
	font-size:30px;
}
li
{
	font-weight:bold;
}