body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
}

header {
    background-color: #3498db;
    padding: 20px;
    text-align: center;
    color: #fff;
}

h1 {
    margin-bottom: 10px;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav a {
    display: inline-block;
    margin: 0 15px;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

nav a:hover {
    background-color: #2077b3;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

section:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.1);
}

h2 {
    margin-top: 0;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
}

ul {
    list-style-type: none
}